# 让 GitHub 确保识别 Python 代码
*.py linguist-detectable=true

# 忽略 HTML 统计
*.html linguist-vendored
*.htm linguist-vendored
docs/* linguist-vendored
build/* linguist-vendored

# 忽略 TeX 统计
*.tex linguist-vendored
