# MATEDATA
DEPLOYMENT_NAME="invengo-lmsv4"
LMS_VERSION=
DATA_PATH=

# DATABASE
DB_PROVIDER="mysql" # [mysql | kingbase | dm]

# MYSQL
MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE="invengo_db"
MYSQL_USER="invengo_admin"
MYSQL_PASSWORD=